---
layout: page
title: Achieve
permalink: /achieve/
description: "Archive of posts."
comments: false
---


<section>

    {% for post in site.posts %}
        {% unless post.next %}
            <h2>{{ post.date | date: '%Y' }}</h2>
        {% else %}
            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
            {% if year != nyear %}
                <h2>{{ post.date | date: '%Y' }}</h2>
            {% endif %}
        {% endunless %}

        <article>
            <li class="entry-title">
                <span style="width: 50px">{{ post.date | date: "%m.%d" }}</span>
                <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">&emsp;&emsp;&emsp;{{ post.title }}</a>
            </li>
        </article>
    {% endfor %}

</section>
